[Unit]
Description=Bin Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/main.py
Restart=always

[Install]
WantedBy=multi-user.target

